@import "tailwindcss";
/* styles/globals.css */
.fade-circle {
  mask-image: radial-gradient(circle at center, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: radial-gradient(circle at center, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slide-up {
  animation: slide-up 0.4s ease-out;
}
/* Si ce n'est pas déjà fait */
.navbar {
  position: fixed; /* ou absolute */
  top: 0;
  left: 0;
  right: 0;
  z-index: 50; /* Assurez-vous que c'est une valeur suffisamment élevée */
}

